.invitation-container {
    width: 100%;
    max-width: 1680px;
    margin: 40px auto 0;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .mine-post {
        margin: 0 0 24px;
        display: flex;
        justify-content: end;
        gap: 20px;

        .form-check {
            width: fit-content;
            height: 100%;
            color: #495057;
            background-color: #fff;
            border: 1px solid #ced4da;
            box-sizing: border-box;
            border-radius: 4px;

            label {
                width: 100%;
                height: 100%;
                display: flex;
                padding: 0 8px 0 4px;
                align-items: center;
                font-weight: 500;
                color: #495057;
                cursor: pointer;
            }

            input {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }

    .filter-form {
        height: auto;
        min-height: 90px;
        display: flex;
        gap: 10px 20px;
        flex-wrap: wrap;
        user-select: none;

        .btn,
        .form-group {
            flex: 1 1 calc(20% - 20px);
            min-width: 200px;
            box-shadow: 2px 2px 4px 0 #00000020;
            border-radius: 4px;
        }

        .form-type,
        .form-booked,
        .form-full,
        .form-time {

            select {
                width: 100%;
                height: 100%;
                padding: 6px 12px;
                font-size: 16px;
                color: #495057;
                background-color: #fff;
                border: 1px solid #ced4da;
                box-sizing: border-box;
                border-radius: 4px;
                outline: none;
                transition: all 0.15s ease-in-out;

                option {
                    padding: 4px 8px;
                    color: #495057;
                }

                option:checked {
                    background-color: #007bff;
                    color: white;
                }
            }

            select:focus {
                border-color: #80bdff;
                box-shadow: 0 0 0 4px rgba(38, 143, 255, 0.25);
            }
        }

        .form-date {
            min-width: 270px;
            display: flex;
            align-items: center;
            border: 1px solid #ced4da;
            box-sizing: border-box;

            label {
                height: 100%;
                padding: 6px 0 6px 6px;
                align-content: center;
                box-sizing: border-box;
            }

            .booking-label {
                min-width: 111px;
            }

            .posting-label {
                min-width: 125px;
            }

            input {
                flex: 1;
                height: 100%;
                padding: 6px;
                font-size: 16px;
                border: none;
                box-sizing: border-box;
                border-radius: 4px;
                outline: none;
            }
        }
    }

    .row {
        margin: 20px 0;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 20px;

        .col {
            padding: 16px;
            display: flex;
            flex-direction: column;
            box-shadow: 0 4px 8px 0 #00000040;
            border-radius: 16px;
            overflow: hidden;

            .current-date {
                margin: 0 0 4px;
                color: #999;
                font-size: 14px;
            }

            .user {
                margin: 0 0 4px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                    display: block;
                }

                .joined {
                    font-weight: bold;
                }

                .joining-cost {
                    padding: 2px 6px;
                    color: #28a745;
                    background-color: #ddd;
                    font-weight: bold;
                    border-radius: 8px;
                }
            }

            .name {
                margin: 0 0 12px;
                font-weight: 500;
            }

            .date {
                margin: 0 0 12px;
                font-weight: 550;

                span {
                    font-weight: bold;
                }
            }

            .location-distance {
                margin: 0 0 12px;
                display: flex;
                justify-content: space-between;

                i {
                    width: 20px;
                    color: #555;
                }

                .location {
                    position: relative;
                    white-space: nowrap;
                    overflow: hidden;

                    .shadow {
                        width: 32px;
                        position: absolute;
                        text-align: end;
                        top: 0;
                        right: 0;
                        background: linear-gradient(to left, #fff 50%, transparent 100%);
                    }

                }

                .distance {
                    flex: 1;
                    text-align: end;
                    min-width: 72px;
                }

            }

            .type-standard-booked {
                height: 24px;
                margin: 0 0 12px;
                display: flex;
                justify-content: space-between;

                .type {
                    font-weight: bold;
                }

                .booked {
                    min-width: 120px;
                    margin: 0 -16px 0 0;
                    padding: 2px 6px;
                    box-sizing: border-box;
                    color: #fff;
                    background-color: #28a745;
                    border-radius: 8px 0 0 8px;
                    font-weight: bold;
                    text-align: center;
                }
            }

            .note {
                width: 100%;
                padding: 2px 6px;
                align-self: center;
                word-break: break-all;
                background-color: #eee;
                border: 1px solid #ccc;
                box-sizing: border-box;
                border-radius: 8px;
            }

            .no-note {
                color: #999;
                font-style: italic;
                text-align: center;
            }
        }
    }

    @media screen and (max-width: 1200px) {
        .row {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    @media screen and (max-width: 992px) {
        .row {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}