.loginregister-container {
    .card-box {
        .card-body {
            form {
                .form-input-register {
                    input {
                        &:focus {
                            box-shadow: 0 0 0 4px #0db04b40;
                            border-color: #0db04b;
                        }
                    }

                    i {
                        &.dobble-icon {
                            left: -8px;
                            color: #444;
                        }
                    }
                }

                .form-check-register {
                    margin: 0 0 0 32px;

                    .provision {
                        padding: 4px 6px;
                        border-radius: 6px;
                        color: #fff;
                        background-color: #374151;
                        border: 1px solid #ccc;
                        box-sizing: border-box;
                        text-decoration: none;
                        cursor: pointer;
                    }

                    .label-accept {
                        border-bottom: 2px solid transparent;
                        box-sizing: border-box;
                    }
                }

                .form-otp {
                    display: flex;
                    gap: 12px;
                    margin: 12px 0 0;

                    .btn {
                        min-width: 128px;
                        height: auto;
                        padding: 8px 32px;
                        border: none;
                        color: #fff;
                        background-color: #1fee6e;

                        &:hover {
                            background-color: #0a8439;
                        }

                        &:active {
                            background-color: #075826;
                        }

                        &:disabled {
                            background-color: #6af49f;
                        }
                    }

                    .form-input-register {
                        flex: 1;
                        margin: 0 0 0 32px;

                        input[type='number']::-webkit-outer-spin-button,
                        input[type='number']::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                }

                .btn-register {
                    .btn {
                        border: none;

                        &.btn-submit {
                            flex: 3;
                            color: #fff;
                            background-color: #0db04b;

                            &:hover {
                                background-color: #0a8439;
                            }

                            &:active {
                                background-color: #075826;
                            }
                        }

                        &.btn-reset {
                            flex: 1;
                            color: #fff;
                            background-color: #6af49f;

                            &:hover {
                                background-color: #1fee6e;
                            }

                            &:active {
                                background-color: #0db04b;
                            }
                        }
                    }
                }
            }
        }
    }
}