.header-container {
    padding: 16px 40px;
    min-height: 72px;
    background-color: #101526;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 10;
    font-family: Inter, system-ui, sans-serif;

    a {
        color: #000;
    }

    .logohome,
    .login-register {
        display: flex;
        align-items: center;
        align-content: center;

        i {
            width: 40px;
            font-size: 24px;
            align-content: center;
        }
    }

    .left-bar {
        display: flex;
        align-items: center;
        gap: 20px;

        input {
            height: 38px;
            border: 1px solid #ccc;
        }
    }

    .items {
        width: 500px;
        display: flex;
        justify-content: space-around;
        font-size: 18px;

        .item {
            color: #555;
            display: flex;
            align-items: center;
        }

        i {
            width: 40px;
            font-size: 24px;
            align-content: center;
        }
    }

    .dropdown {
        width: fit-content;
        position: relative;
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: end;
        align-items: center;

        img {
            cursor: pointer;
            width: 40px;
            height: 40px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 50%;
        }

        .menu {
            width: fit-content;
            padding: 12px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            background-color: #ffffff80;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 12px;
            position: absolute;
            top: calc(100% + 8px);
            right: 0;

            .item {
                cursor: pointer;
                width: fit-content;
                max-width: 300px;
                min-width: 200px;
                display: flex;
                align-items: center;
                gap: 8px;

                &.information-item {
                    gap: 12px;

                    .name {
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}