.header-container {
    padding: 14px 40px;
    background-color: #ececec;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: 'Quicksand', Arial, sans-serif;

    a {
        color: #000;
    }

    .logo,
    .login-register {
        display: flex;
        align-items: center;
        align-content: center;

        i {
            width: 40px;
            font-size: 24px;
            align-content: center;
        }
    }

    .left-bar {
        display: flex;
        gap: 20px;

        input {
            outline: none;
            padding: 4px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }
    }

    .items {
        width: 500px;
        display: flex;
        justify-content: space-around;
        font-size: 18px;

        .item {
            color: #555;
            display: flex;
            align-items: center;
        }

        i {
            width: 40px;
            font-size: 24px;
            align-content: center;
        }
    }

    .dropdown {
        width: auto;
        position: relative;

        /* .user-avatar { */
            /* width: 100%; */
            background-color: transparent;
            border: none;
            display: flex;
            justify-content: end;
            align-items: center;

            img {
                width: 48px;
                height: 48px;
                border: 1px solid #a7a4a486;
                box-sizing: border-box;
                border-radius: 50%;
            }

            .dropdown-menu {
                width: 200px;
                display: flex;
                flex-direction: column;
                align-items: start;
                background-color: #ffffff80;
                border: 1px solid #ccc;
                box-sizing: border-box;
                position: absolute;
                top: 100%;
                right: 0;
            }

            .user-information {
                margin: 0 10px;
                background-color: #feecd9;
                align-items: end;
                text-align: end;

                .user-name {
                    font-weight: bold;
                }

                .user-role {
                    color: #6c757d;
                }
            }
        /* } */
    }
}