.bookingform-container {
    width: 400px;

    .payment-card {
        width: 400px;
        display: flex;
        justify-content: end;

        .card {
            width: 400px;
            height: auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 8px #66666640;
            border-radius: 12px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;

            .payment-card-title {
                width: 100%;
                padding: 4px;
                color: #fff;
                background-color: #fb8159;
                border-radius: 8px;
                box-sizing: border-box;
                text-align: center;
                font-size: 32px;
                font-weight: bold;
            }

            form {
                width: 100%;
                margin: 20px 0 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                .form-group {
                    width: 100%;
                    margin: 0 0 10px;

                    &.row {
                        display: grid;
                        grid-template-columns: repeat(1, minmax(0, 1fr));
                        gap: 12px;

                        .col {
                            cursor: pointer;
                            padding: 8px;
                            border: 1px solid #ccc;
                            box-sizing: border-box;
                            border-radius: 4px;
                            display: flex;
                            justify-content: end;
                            align-items: center;

                            .name {
                                flex: 1;
                                text-align: center;
                            }

                            .price {
                                padding: 6px 8px;
                                color: #fff;
                                background-color: #28a745;
                                font-weight: bold;
                                border-radius: 4px;
                            }
                        }
                    }
                }
            }

            .btn,
            .btn:focus {
                width: 200px;
                background-color: #fb8b24;
                margin: 20px 0;
                border: none;
            }

            .btn:hover {
                color: #ffffff;
                background-color: #d97720;
            }
        }
    }



    .answer-group {
        /* padding: 20px 80px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 40px 60px; */
        display: flex;

        .radio-label {
            width: auto;
            height: fit-content;
            border: 2px solid #ccc;
            box-sizing: border-box;
            border-radius: 12px;
            display: flex;
            align-self: center;
            justify-content: center;
            align-items: start;
            cursor: pointer;
            overflow: hidden;

            .text {
                font-size: 40px;
            }

            .hidden-radio {
                display: none;
            }

            .hidden-radio:checked+.radio-box {
                color: #fff;
                background-color: #bbb;
                transition: all 0.2s ease;
            }

            .hidden-radio:checked+.correct-answer {
                color: #28a745;
                background-color: #d3f9d8;
                transition: all 0.2s ease;
            }

            .hidden-radio:checked+.incorrect-answer {
                color: #dc3545;
                background-color: #fad7d9;
                transition: all 0.2s ease;
            }

            .radio-box {
                width: 100%;
                height: 100%;
                padding: 20px;
                background-color: #f0f0f0;
                display: inline-block;
                cursor: pointer;
                box-sizing: border-box;
                border-radius: 4px;
                font-weight: bold;
                text-align: center;
                align-content: center;
            }

            .radio-box:hover {
                background-color: #e0e0e0;
            }
        }
    }
}