.bookingform-container {
    width: 680px;

    .payment-card {
        width: 100%;
        display: flex;
        justify-content: end;

        .card {
            width: 100%;
            height: auto;
            min-height: 220px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 8px #66666640;
            border-radius: 12px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;

            .payment-card-title {
                width: 100%;
                padding: 8px;
                margin: 0 0 20px;
                color: #fff;
                background-color: #fb8159;
                border-radius: 8px;
                box-sizing: border-box;
                text-align: center;
                font-size: 32px;
                font-weight: bold;
            }

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;

                .form-group {
                    width: 100%;
                    border-radius: 4px;
                }

                .form-date-type {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    gap: 12px;
                }

                .form-date {
                    flex: 2;
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;

                    .react-datepicker-wrapper,
                    .react-datepicker__input-container,
                    input {
                        width: 100%;
                        height: 100%;
                    }

                    input {
                        border: none;
                        border: 1px solid #ced4da;

                        &:focus {
                            border-color: #80bdff;
                            box-shadow: 0 0 0 4px rgba(38, 143, 255, 0.25);
                        }
                    }
                }

                .form-type,
                .form-field,
                .form-payment {
                    flex: 3;

                    select {
                        width: 100%;
                        height: 100%;
                        padding: 6px 12px;
                        font-size: 16px;
                        color: #495057;
                        background-color: #fff;
                        border: 1px solid #ced4da;
                        box-sizing: border-box;
                        border-radius: 4px;
                        outline: none;
                        transition: all 0.15s ease-in-out;
                        font-family: Inter, system-ui, sans-serif;

                        option {
                            padding: 4px 8px;
                            color: #495057;

                            &:checked {
                                background-color: #007bff;
                                color: white;
                            }
                        }

                        &:focus {
                            border-color: #80bdff;
                            box-shadow: 0 0 0 4px rgba(38, 143, 255, 0.25);
                        }
                    }
                }

                .form-slot,
                .form-field {
                    width: 100%;
                    padding: 12px 0;
                    display: grid;
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                    gap: 8px;

                    label {
                        user-select: none;

                        .hidden-radio {
                            display: none;
                        }

                        .hidden-radio:checked+.radio-box {
                            color: #28a745;
                            border-color: #28a745;
                            background-color: #d3f9d8;
                            transition: all 0.2s ease;
                            font-weight: bold;
                        }

                        .hidden-radio:disabled+.radio-box {
                            color: #fad7d9;
                            background-color: #fff;
                            border-color: #fad7d9;
                            transition: all 0.2s ease;
                            font-weight: bold;
                        }

                        .hidden-radio:disabled+.radio-box .price {
                            color: #fff;
                            background-color: #fad7d9;
                        }

                        .radio-box {
                            width: 100%;
                            padding: 8px;
                            background-color: #eee;
                            border: 2px solid #ccc;
                            box-sizing: border-box;
                            border-radius: 4px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 8px;
                            transition: all 0.15s ease;
                            cursor: pointer;

                            .name {
                                flex: 1;
                                text-align: center;
                            }

                            .price {
                                width: 100%;
                                padding: 6px 8px;
                                color: #fff;
                                background-color: #28a745;
                                box-sizing: border-box;
                                text-align: center;
                                font-weight: bold;
                                border-radius: 4px;
                            }

                            &:hover {
                                background-color: #e0e0e0;
                            }
                        }
                    }
                }

                .btn {
                    width: 100%;
                    color: #fff;
                    background-color: #0db04b;
                    font-size: 24px;
                    border: none;

                    &:hover {
                        background-color: #0a8439;
                    }

                    &:active {
                        background-color: #075826;
                    }

                    &:disabled {
                        color: #fff;
                        background-color: #6af49f;
                    }
                }
            }

            a {
                margin: auto;
                color: #007bff;
                font-weight: bold;
            }
        }
    }
}