.feedback-row {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;

    .feedback-col {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 12px;
        padding: 12px;

        .comment-content {
            margin: 8px 0 0;
            width: 100%;
        }

        .feedback-user {
            margin: 0 0 4px;
            display: flex;
            align-items: center;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
                border: 1px solid #ccc;
                box-sizing: border-box;
                display: block;
            }

            .name-date {
                padding: 0 0 0 12px;

                .name {
                    font-size: 18px;
                    font-weight: bold;
                    word-break: break-word;
                }

                .date {
                    color: #999;
                    font-size: 14px;
                }
            }
        }
    }
}
