.venue-container {
    width: 100%;
    height: auto;
    min-height: 70vh;
    background-color: #fff;

    .search {
        width: 100%;
        padding: 20px;
        background-color: #fafafa;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        position: sticky;
        top: 0;

        form {
            display: flex;
            align-items: center;
            gap: 12px;

            .form-control {
                width: 100%;
                padding: 8px 12px;
                font-family: Arial, sans-serif;
                border-radius: 4px;
                background-color: #fff;
            }

            .form-control:focus {
                outline: none;
            }

            .btn {
                transition: background-color 0.2s ease;
            }
        }
    }

    table {
        max-width: 1400px;
        justify-self: center;
        border-collapse: collapse;

        thead {
            height: 50px;
            background-color: #fff;
            position: sticky;
            top: 75px;

            th {
                background-color: #f5f5f5;
            }
        }

        tr {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;

            th,
            td {
                width: auto;
                padding: 20px;
                border-bottom: 1px solid #ddd;

                .venue-name {
                    margin: 0 0 4px;
                    font-size: 24px;
                    font-weight: bold;
                }

                .half-star {
                    display: flex;
                    align-items: end;
                    gap: 8px;

                    .rating-value {
                        color: #ffd700;
                        text-shadow: 1px 1px 0 #db9a00;
                        font-size: 32px;
                        font-weight: bold;
                    }

                }

                img {
                    width: 240px;
                    height: 150px;
                    border-radius: 10px;
                    object-fit: cover;
                    object-position: center;
                    display: block;
                }
            }

            .text-middle {
                text-align: center;
            }

            .image-full {
                padding: 0;
            }
        }
    }
}